<!-- page for editing and deleting the respective entries for the author-->
<div class="container">
    <form class="form-horizontal displayBookStyling">
        <h3>Book Details</h3>
        <!-- Disable the form fields when the page is loaded-->
        
        <fieldset ng-disabled="isClicked">
            
            <div class="form-group">
                <label class="col-sm-2 control-label">ISBN</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="empid" ng-model="book.isbn" disabled>
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" ng-model="book.title">
                </div>
            </div>
            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Author</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="author" ng-model="book.author">
                </div>
            </div>

            
            
            <div class="form-group">
                <label class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="price" ng-model="book.price">
                </div>
            </div>

            
           <div class="form-group">
            <label class="col-sm-2 control-label">Avaliable On</label>
            <div class="col-sm-10">
                <div class="checkbox">
                    <label class="label1">
                          <input type="checkbox" name="type" value="Amazon" ng-checked="book.availableOn.indexOf('Amazon') > -1" /> Amazon 
                    </label>
                    <label class="label1">
                         <input type="checkbox" name="type" value="Flipkart"
                        ng-checked="book.availableOn.indexOf('Flipkart') > -1"/> Flipkart 
                    </label>
                    <label class="label1">
                         <input type="checkbox" name="type" value="Ebay" ng-checked="book.availableOn.indexOf('Ebay') > -1"/> Ebay 
                    </label>
                    <label class="label1">
                         <input type="checkbox" name="type" value="Google" ng-checked="book.availableOn.indexOf('Google') > -1"/> Google 
                    </label>
                </div>
            </div>
        </div>
            

        </fieldset>
        
        <!-- When the edit button is clicked the field gets enabled -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-click="view(newItem)" class="btn btn-default">Edit</button>
                <button type="submit" ng-click="updateBookDetails(book)" class="btn btn-default">Update</button>
                <button type="button" ng-click="deleteBook(book)" class="btn btn-default">Delete</button>
            </div>
        </div>

    </form><!-- End of form -->

</div>